
* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body{
    background-color: black;
    color: white;
    font-family: sans-serif;
}
.user-card{
    border: 1px solid black;
    border: 2px solid white;
    background-color: white;
    display: flex;
    padding: 12px;
    gap :1rem;
    color: black;
    align-items: center;
    border-radius: 5px;

}
.user-info{
    display: flex;
    flex-direction: column;
    border: 2px solid  white;
    width:250px;

}
.user-container{
    padding: 40px;
    border: 2px solid black;
    display: flex;
    flex-flow:wrap;
   
    gap: 2rem;
    ;
    
    

}
.container{
    display: flex;
    flex-flow: column;
    justify-content: center;
    width: 100%;
    align-items: center;
    

}